.intro {
    left: 0px;
    top: 0px;
}

.intro > :where(svg, path) {
    width: max(calc((1267 / 1440) * 100vw), 400px);
    height: auto;
}

.about-us {
    right: 0px;
}

.about-us :where(svg, path) {
    width: max(calc((947 / 1440) * 100vw), 400px);
    height: auto;
}

.contact-us {
    left: 0px;
}

.contact-us :where(svg, path) {
    width: max(calc((1176 / 1440) * 100vw), 400px);
    height: auto;
}

/* left-[0] top-[34px] */

.footer-1 {
    left: 0px;
    top: 34px;
}

@media (max-width: 1600px) {
    .footer-1 {
        left: calc(50% - 720px);
        top: 34px;
    }
}

/* left-0 bottom-0 */

.footer-2 {
    left: 0px;
    bottom: 0px;
}

@media (max-width: 1600px) {
    .footer-2 {
        left: calc(50% - 720px);
        bottom: 0px;
    }
}

/* xl:left-[-13px] sm:left-[-50px] top-[51px] */

.footer-3 {
    left: -13px;
    top: 51px;
}

@media (max-width: 1600px) {
    .footer-3 {
        left: calc(50% - 720px - 13px);
        top: 51px;
    }
}

@media (max-width: 1024px) {
    .footer-3 {
        left: calc(50% - 720px - 50px);
        top: 51px;
    }
}

ul > li {
    list-style-image: url('/list-bullet.svg');
}