<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Beautice</title>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="top"></div>
        <div class="header">
            <img src="public/main-logo.svg" alt="Beautice Logo" id="logo">
            <a class="logo-text">Beautice</a>
            <div class="nav-bar">
                <a class="nav active">Home
                    <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="4.5" y1="0.125" x2="4.5" y2="8.875" stroke="#41487F" stroke-width="1.25"/>
                        <line x1="8.875" y1="4.5" x2="0.125" y2="4.5" stroke="#41487F" stroke-width="1.25"/>
                    </svg>                                        
                </a>
                <a class="nav about">About</a>
                <a class="nav service">Service</a>
                <a class="nav gallery">Gallery</a>
                <a class="nav blog">Blog</a>
                <a class="nav button contact">Contact</a>  
            </div>
        </div>
        <details class="menu">
            <summary>
                <img src="public/menu.svg" alt="See more">
            </summary>
            <a class="nav active">Home
                <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="4.5" y1="0.125" x2="4.5" y2="8.875" stroke="#41487F" stroke-width="1.25"/>
                    <line x1="8.875" y1="4.5" x2="0.125" y2="4.5" stroke="#41487F" stroke-width="1.25"/>
                </svg>                                        
            </a>
            <a class="nav about">About</a>
            <a class="nav service">Service</a>
            <a class="nav gallery">Gallery</a>
            <a class="nav blog">Blog</a>
            <a class="nav button contact">Contact</a>        
        </details>
        <div class="main">
            <div class="container row container-1">
                <div class="graphic">
                    <img src="public/graphic1.svg" alt="Clinic & beauty consultant">
                    <img src="public/graphic2.svg" alt="Clinic & beauty consultant">
                </div>
                <div class="container column">
                    <h1 class="large semibold navy-blue left" style="margin-top: 52.5px;">Clinic & beauty<br>consultant</h1>
                    <p class="small medium navy-blue left" style="margin-top: 8px;">It is a long established fact that a reader will be by the readable content of a page.</p>
                    <a class="button semibold small more-details">More Details</a>
                </div>
                <div class="container">
                    <div>
                        <img src="public/title-logo.svg" alt="Clinic & beauty consultant" id="img-1">
                    </div>
                </div>
            </div> 
            <div class="carousel">
                <div class="inactive"></div>
                <div class="active"></div>
                <div class="inactive"></div>
            </div>
            <div class="content column content-1 big">
                <p class="small pink center semibold">Main Services</p>
                <h2 class="mid navy-blue center semibold">Learn services to focus<br>on your beauty</h2>
                <p class="small grey center regular">Porta rhoncus orci condimentum vitae lobortis eu dignissim non massa. Non parturient amet, feugiat tellus sagittis, scelerisque eget nulla turpis.</p>
                <!-- <p class="small grey center regular">amet, feugiat tellus sagittis, scelerisque eget nulla turpis.</p> -->
            </div>
            <div class="content content-2">
                <div class="grid-item">
                    <img src="public/graphic3.svg" alt="Beauty consultation">
                    <h2 class="semibold mid navy-blue">Beauty consultation</h2>
                    <p class="small grey center">Non parturient amet, feugiat tellus sagittis, scelerisque eget nulla turpis.</p>
                </div>
                <div class="grid-item">
                    <img src="public/graphic4.svg" alt="Skin treatments">
                    <h2 class="semibold mid navy-blue">Skin treatments</h2>
                    <p class="small grey center">Non parturient amet, feugiat tellus sagittis, scelerisque eget nulla turpis.</p>
                </div>
                <div class="grid-item">
                    <img src="public/graphic5.svg" alt="Beauty product">
                    <h2 class="semibold mid navy-blue">Beauty product</h2>
                    <p class="small grey center">Non parturient amet, feugiat tellus sagittis, scelerisque eget nulla turpis.</p>
                </div>
            </div>
            <div class="content content-3">
                <div class="graphic">
                    <img src="public/graphic6.svg" alt="About Us">
                    <img src="public/graphic7.svg" alt="About Us">
                </div>
                <div class="content column">
                    <p class="small pink left semibold">About Us</p>
                    <h2 class="mid navy-blue left semibold">We are the best beauty clinic</h2>
                    <p class="small grey left regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit, quam suscipit purus donec amet. Egestas volutpat facilisi eu libero. Nunc, ipsum ornare mauris sit quam quis enim. Varius tellus in suspendisse placerat.
                    <br><br>
                    Id dui erat sed quam tellus in purus. Pellentesque congue fringilla cras tellus enim.</p>
                    <div class="content row learn-more">
                        <a target="_blank" class="small semibold button learn-more-button">Learn More</a>
                        <a target="_blank" class="small semibold grey learn-more-video">
                            <div>
                                <img src="public/triangle1.svg" alt="Watch Video">
                            </div>
                            Watch Video
                        </a>
                    </div>
                </div>
                <img src="public/image1.png" alt="About Us">
            </div>
            <div class="content column content-4">
                <p class="small pink center semibold">Professional Teams</p>
                <h2 class="mid navy-blue center semibold">The Professional expert</h2>
                <p class="small grey center regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam.</p>
                <div class="content people">
                    <div class="inactive">
                        <img src="public/people1.png" alt="">
                        <p class="small pink semibold title">Surgeon</p>
                        <h3 class="navy-blue semibold name">Briyan Nevalli</h3>
                        <p class="grey regular center description">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit</p>
                        <div class="social">
                            <div class="twitter">
                                <img src="public/twitter.svg" alt="Twitter">
                            </div>
                            <div class="facebook">
                                <img src="public/facebook.svg" alt="Facebook">
                            </div>
                            <div class="public/instagram">
                                <img src="public/instagram.svg" alt="Instagram">
                            </div>
                        </div>
                    </div>
                    <div class="active">
                        <img src="public/people2.png" alt="">
                        <p class="small pink semibold title">Dermatologist</p>
                        <h3 class="navy-blue semibold name">Bella sebastian</h3>
                        <p class="grey regular center description">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit</p>
                        <div class="social">
                            <div class="twitter">
                                <img src="public/twitter.svg" alt="Twitter">
                            </div>
                            <div class="facebook">
                                <img src="public/facebook.svg" alt="Facebook">
                            </div>
                            <div class="public/instagram">
                                <img src="public/instagram.svg" alt="Instagram">
                            </div>
                        </div>
                    </div>
                    <div class="inactive">
                        <img src="public/people3.png" alt="">
                        <p class="small pink semibold title">Stylist expert</p>
                        <h3 class="navy-blue semibold name">Lilly Adams</h3>
                        <p class="grey regular center description">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit</p>
                        <div class="social">
                            <div class="twitter">
                                <img src="public/twitter.svg" alt="Twitter">
                            </div>
                            <div class="facebook">
                                <img src="public/facebook.svg" alt="Facebook">
                            </div>
                            <div class="public/instagram">
                                <img src="public/instagram.svg" alt="Instagram">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content content-5">
                <div class="graphic">
                    <img src="public/graphic8.svg" alt="Contact Us">
                    <img src="public/graphic9.svg" alt="Contact Us">
                </div>
                <div class="content column">
                    <img src="public/graphic6(old).svg" alt="Contact Us" class="contact-us">
                </div>
                <div class="content column">
                    <p class="small pink left semibold">Contact Us</p>
                    <h2 class="mid navy-blue left semibold">Send your inquiry to our expert team</h2>
                    <p class="small grey left regular">Lorem ipsum dolor sit amet nulla turapis tellus.</p>
                    <form action="contact-us" class="contact-us">
                        <div>
                            <input type="text" placeholder="First name" class="small grey first-name">
                            <input type="text" placeholder="Last name" class="small grey last-name">
                            <input type="text" placeholder="Email address" class="small grey email">
                            <input type="text" placeholder="Subject message" class="small grey subject-message">
                            <textarea type="text" placeholder="Your inquiry here" class="small grey message"></textarea>
                        </div>
                        <input type="button" value="Send Message" class="submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="graphic">
                <div></div>
                <div></div>
                <div></div>
                <!-- <img src="public/graphic10.svg" alt="Footer">
                <img src="public/graphic11.svg" alt="Footer">
                <img src="public/graphic12.svg" alt="Footer"> -->
            </div>
            <div class="info">
                <div class="company-info">
                    <div class="logo"> 
                        <img src="public/main-logo-2.svg" alt="Beautice">
                        <a class="logo-text">Beautice</a>
                    </div>
                    <div class="info">
                        <p class="small grey"><strong>Beautice</strong> is a Beauty Clinic WordPress Theme.</p>
                        <p class="small grey">Baker Steet 101, NY, United States.</p>
                        <div class="address">
                            <p class="small grey ">+521 569 8966.</p>    
                            <p class="small grey">mail@ .com.</p>
                        </div>
                    </div>
                    <div class="social">
                        <a href="/facebook" class="facebook"></a>
                        <a href="/twitter" class="twitter"></a>
                        <a href="/linkedin" class="linkedin"></a>
                        <a href="/youtube" class="youtube"></a>
                        <a href="/instagram" class="instagram"></a>
                    </div>
                </div>
                <div class="pages">
                    <h2 class="semibold">Pages</h2>
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>Services</li>
                        <li>Gallery</li>
                        <li>Team</li>
                    </ul>
                </div>
                <div class="informations">
                    <h2 class="semibold">Informations</h2>
                    <ul>
                        <li>Terms & conditions</li>
                        <li>Privacy policy</li>
                        <li>Blog</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
            <p class="copyright">© AltDesain Studio 2021 - All right reserved.</p>
        </div>
        <a href="#top" class="go-to-top"></a>
        <script src="script.js"></script>
    </body>
</html>
        
        
        